@import url('https://fonts.googleapis.com/css?family=Alatsi|Carter+One|Fugaz+One&display=swap');

:root {
    font-family: 'Alatsi', sans-serif;
    --main-color: #A9A9A9;
    scroll-behavior: smooth;
}

body {
    max-width: 980px;
    margin: auto;
}

header, main, footer {
    background: #f2e0d2;
}

.header_logo img {
    width: 100px;
    object-fit: contain;
    margin-top: 20px;
}

.logo_name {
    display: block;
    font-family: 'Fugaz One', cursive;
    font-size: 0.8rem;
    color:  #DEB887;
    margin-top: 1px;
}

header nav .menu {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-around;
}

header nav .menu a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
    position: relative;
    line-height: 1;
    color: #C0C0C0;
    font-size: 1.75rem;
}

@media (min-width:600px) {
    header nav {
        display: flex;
        align-items: center;
    }
    header .menu {
        flex: 1;
    }
}

.menu ul {
    list-style: none;
} 

a:hover::after, a:focus::after {
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f2e0d2;
    min-width: 315px;
}

.dropdown-content a {
    color: #C0C0C0;
    display: block;
    justify-content: space-around;
    font-size: 1rem;

}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

header .banner {
    background-image: url(../img/queendesign.jpg);
    background-position: center;
    background-size: cover;
    min-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header .banner h1 {
    font-size: 3rem;
    font-family: 'Fugaz One', cursive;
    color:  #f2e0d2;
}

section .dress_catalog .salon_card img {
    width: 100%;
    display: block;
}

.salon_card  .buttons {
    display: flex;
    justify-content: space-around;
}

@media (min-width: 500px) {
    .dress_catalog {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}

@media (min-width: 660px) {
    .dress_catalog {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 980px) {
    .dress_catalog {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color:#551A8B;
    text-align: center;
    transition: all 0.3s;
    /*background-color: transparent;*/
}

button:hover {
    color: #551A8B;
    background-color: #f2e0d2;
    cursor: pointer;
}

.card_button {
    border-color: #551A8B;
    color: #551A8B;
}

.card_button:hover {
    background-color: #ADD8E6; 
    color: #551A8B;
}

section .dresses_wedding {
    background-image: url(../img/queengirls.jpg);
    background-position: center;
    background-size: cover;
    min-height: 450px;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    flex-direction: column;
}

section h2 {
    font-size: 3rem;
    font-family: 'Fugaz One', cursive;
    color:  #C0C0C0;
    text-align: center;
    /*margin-top: 20px;*/
    margin-bottom: 20px;
    flex-direction: column;

}

h3 {
    color: #C0C0C0;
    font-size: 2rem;
}

section, footer p {
    font-size: 1.5rem;
    font-family: 'Alatsi', sans-serif;
    color: #C0C0C0;
}

section .dresses_evening {
    background-image: url(../img/dress-long.light-gray.jpg);
    background-position: center;
    background-size: cover;
    min-height: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section .veils_catalog .salon_card img {
    width: 100%;
    display: block;
}

@media (min-width: 500px) {
    .veils_catalog {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;
    }
}

@media (min-width: 660px) {
    .veils_catalog {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 980px) {
    .veils_catalog {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

#veil {
    display: block;
    text-align: center;
}

section .our_services {
    font-size: 1.5rem;
    font-family: 'Alatsi', sans-serif;
    color:  #C0C0C0;
}

section .choise h3 {
    display: block;
    text-align: center;
}

section .img-right {
    background-position: center;
    background-size: cover;
    min-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section .img-right img {
    width: 100%;
    display: block;
}

footer h2 {
    font-size: 3rem;
    font-family: 'Fugaz One', cursive;
    color:  #C0C0C0;
    text-align: center;
}

footer form label {
    font-size: 1.5rem;
    font-family: 'Alatsi', sans-serif;
    color:  #C0C0C0;
    text-align: center;
}

.footer-contact form input {
    background: #fff1f2;
    border: 1px solid #c5c5c5;
    height: 35px;
    margin-bottom: 15px;
    margin-left: 85px;
    padding-left: 15px;
    width: 370px;
}

.footer-contact h4 {
    color: #C0C0C0;
    font-size: 1.5rem;
    font-style: normal;
    font-family: 'Alatsi', sans-serif;
    font-weight: 300;
    margin-bottom: 35px;
    margin-left: 130px;
    margin-right: 100px;
    text-align: center;
}

.block-btn {
    margin: 0 auto;
    text-align: center;
}

.block-btn .form-btn {
    border: inherit;
    color: #551A8B;
    font-family: 'Alatsi', sans-serif;
    height: 40px;
    margin: 40px auto 20px;
    text-align: center;
    width: 230px;
}

.block-btn .hvr-shutter-in-vertical {
    background: #fff1f2;
    position: relative;
    transform: perspective(1px) translateZ(0);
    transition-property: var(--main-color);
}

footer .footer-contact {
    background-color: rgba(226, 209, 196, .5);
}

footer section #our contact {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

footer .logo-footer {
    margin: 0 auto;
    text-align: center;
}

.logo-footer img {
    width: 100px;
    height: 100px;
}

footer .logo-footer p {
    color: #C0C0C0;
    font-family: 'Fugaz One', cursive;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin-top: 20px;
}

footer .social-icon .item:last-child {
    margin-right: 0;
}

footer .social-icon .item {
    background: #fff;
    border-radius: 50%;
    height: 35px;
    margin-right: 15px;
    position: relative;
    width: 35px;
}

footer .social-icon img {
    width: 35px;
    height: 35px;
}

footer .social-icon {
    display: flex;
    margin: 0 auto 45px;
    width: 140px;
}

footer .footer-info .item {
    color: #C0C0C0;
    padding-top: 20px;

}

@media (min-width: 500px) {
    #our_contact {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5px;
    }
}

@media (min-width: 660px) {
    #our_contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 980px) {
    #our_contact {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.footer-down span {
    display: block;
    text-align: center;
    font-size: 16px;
    font-family: 'Alatsi', sans-serif;
    color: #574b4b;
    padding-bottom: 40px;
    padding-top: 40px;
}

.footer-down {
    background-color: rgba(226, 209, 196, .5);
}









